section
    .about.container.section#about
        .about-intro
            .about-content
                p.about-caption about 
                h2.about-title Unleash your inner superhero!
                p.about-text This New Year marks the beginning of your journey to inner harmony and new strengths. We offer unique gifts that will help you improve your life.
            .about-image
