section
    .CTA.container.section
      .CTA-content
        h3.CTA-title ready to start your journey to a better version of yourself?
        a.CTA-button(href='./page.html') explore magical gifts
        .CTA-caption#wishes The New Year is Coming Soon...
        .CTA-timer#timer
          .CTA-timer__item
            h2#days 47
            h4 days
          .CTA-timer__item
            h2#hours 5
            h4 hours
          .CTA-timer__item
            h2#minutes 34
            h4 minutes
          .CTA-timer__item
            h2#seconds 12
            h4 seconds
            