header.container.section
    .header
        .header-menu
            a.header-logo(href="./index.html")
                img.header-icon(src=require("../assets/images/logo.png"), alt="logo")
                span.header-text the gifts
            nav.nav
                ul.nav-list
                    li.nav-item.li-active
                        a.nav-link.nav-link_active(href="#") gifts
                    li.nav-item
                        a.nav-link(href="index.html#about") about
                    li.nav-item
                        a.nav-link(href="index.html#best") best
                    li.nav-item
                        a.nav-link(href="#contact") contacts
            .header-burger
                div.header-burger__line
                div.header-burger__line
                