//- HEADER
header.container.section
    .header
        .header-menu
            a.header-logo(href="#")
                img.header-icon(src=require("../assets/images/logo.png"), alt="logo")
                span.header-text the gifts
            nav.nav.nav_start
                ul.nav-list
                    li.nav-item
                        a.nav-link(href='./page.html') gifts
                    li.nav-item
                        a.nav-link(href="#about") about
                    li.nav-item
                        a.nav-link(href="#best") best
                    li.nav-item
                        a.nav-link(href="#contact") contacts
            .header-burger
                div.header-burger__line
                div.header-burger__line
                