section
    .hero.container
        .hero-content
            p.hero-caption Merry Christmas
            h1.hero-title Gift yourself the magic of new possibilities
            a.hero-button(href='./page.html') Explore Magical Gifts
            p.hero-caption and Happy New Year
            