$c-primary: #ff4646;
$c-primary10: rgba(255, 70, 70, .1);
$c-static-white: #ffffff;
$c-static-white40: rgba(255, 255, 255, .4);
$c-static-white20: rgba(255, 255, 255, .2);
$c-lightgray: rgb(211, 211, 211, .5);
$c-tag-purple: #4361ff;
$c-tag-pink: #ff43f7;
$c-tag-green: #06a44f;
$bg-color: #ecf3f8;
$c-dark: #181c29;
$bg-modal-open: rgba(24, 28, 41, .8);
$bg-modal-hiding: rgba(24, 28, 41, 0);
$burger-line-height: .05rem;
