@font-face {
    font-family: 'SofadiOne-Regular';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../assets/fonts/SofadiOne-Regular.ttf') format('ttf'),
        url('../assets/fonts/SofadiOne-Regular.ttf') format('ttf');
}
