$bg-color: #f5f5dc;
$c-white: #ffffff;
$text-color: #723c1c;
$blue-color: blue;
$darkblue-color: #171836;
$darkblue-bg-color: #16242f;
$linear-darkblue-start: #16242f;
$linear-darkblue-end: #0f1a1e;
$c-dark: #0d0d0ddf;
$c-orange: #b42019e6;
$c-modal-btn-border: #d0332bb3;
$c-bg-wrapper: #202f3dcc;
